<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.web.masterController.mapper">
	
	<select id="selectMasterControllerList" resultType="HashMap" parameterType="HashMap">
		SELECT 	
			GROUPID
		,	GROUPNAME
		,	USE_YN
			FROM 
				GROUPTABLE 
	</select>
	<select id="selectMasterOBJList" resultType="HashMap" parameterType="HashMap">
		SELECT
			B.GROUPID
		,	B.GROUPNAME
		,	A.OBJID
		,	A.OBJNAME
		,	A.HIGH_OBJ
		,	A.DEPT
			FROM
				OBJECTTABLE A,
				GROUPTABLE B
				WHERE 
					B.GROUPID =#{GROUPID}
					order by DEPT
	</select>
	<select id="selectMasterMappingList" resultType="HashMap" parameterType="HashMap">
		SELECT
			OBJID
		,	HIGH_OBJ
		,	DEPT
			FROM
				MAPPINGTABLE
				WHERE
				GROUPID = #{GROUPID}
				order by DEPT
	</select>
	<insert id="insertMasterMapping">
	<foreach collection="list" item="item" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
				INTO 
				MAPPINGTABLE(
					GROUPID
				,	OBJID
				,	GROUPNAME
				,	OBJNAME
				,	HIGH_OBJ
				,	DEPT
				)
				VALUES
					(
					#{item.GROUPID}
				,	#{item.OBJID}
				,	#{item.GROUPNAME}
				,	#{item.OBJNAME}
				,	#{item.HIGH_OBJ}
				,	#{item.DEPT}
				)
				</foreach>
				
	</insert>
	<delete id="deleteMasterMapping">
	DELETE
		FROM     
		MAPPINGTABLE
		WHERE
            <foreach collection="list" item="item" open="(" close=")" separator="OR">
            OBJID =#{item.OBJID}
  			AND
  			GROUPID = #{item.GROUPID}          
            </foreach>
            
	</delete>
</mapper>