<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.web.commonCode.mapper">
	
	<select id="selectCommonCodeList" resultType="HashMap" parameterType="HashMap">
		SELECT 	
			A.CODE
		,	A.CODE_NAME
		,	B.DCODE
		,	B.DCODE_NAME
		,	B.USE_YN
			FROM 
				MASTERTABLE A
			,   MASTERDETAIL B
		WHERE A.CODE = B.CODE
		AND A.CODE = #{CODE}
		AND B.USE_YN = 'Y'
	</select>
	<select id="selectCommonCode" resultType="HashMap" parameterType="HashMap">
		SELECT
			*
			FROM
				MASTERTABLE
	</select>
	<select id="selectCommonCodeDetail" resultType="HashMap" parameterType="HashMap">
		SELECT
			A.CODE
		,	B.DCODE
		,	B.DCODE_NAME
		,	B.USE_YN
			FROM 
				MASTERTABLE A
			,	MASTERDETAIL B
			WHERE
				A.CODE = B.CODE
			AND 
				A.CODE = #{CODE}
	</select>
	<insert id="commonCodeInsert" parameterType="HashMap">
		<foreach collection="list" item="item" open="INSERT ALL" close="SELECT*FROM DUAL" separator=" ">
				INTO 
				MASTERDETAIL(
					CODE
				,	DCODE
				,	DCODE_NAME
				,	USE_YN
				)
				VALUES
					(
					#{item.CODE}
				,	#{item.DCODE}
				,	#{item.DCODE_NAME}
				,	#{item.USE_YN}
				)
				</foreach>
				
	</insert>
	<select id="DCODECheck" resultType="int">
	SELECT
		 count(*) 
		 FROM
		 	MASTERDETAIL 
		 	WHERE
		 		DCODE in 	 				 		
		 		<foreach collection="list" item="item" open="(" close=")" separator=",">
		 		#{item.DCODE}
		 			</foreach>
		 		
		 	
	</select>
	<update id="commonCodeModify" parameterType="HashMap">
		<foreach collection="list" item="item" separator=" ; " open="DECLARE BEGIN" close="; END;">
	UPDATE	 
		MASTERDETAIL
		SET
		DCODE_NAME = #{item.DCODE_NAME}
	,	USE_YN = #{item.USE_YN}
		WHERE
			DCODE = #{item.DCODE}
		</foreach>
	</update>
	<delete id="commonCodeDelete" parameterType="HashMap">
	DELETE
		FROM     
		MASTERDETAIL
		WHERE
            DCODE in
            <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.DCODE}
            </foreach>
	</delete>
</mapper>