<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.web.login.mapper.LoginMapper" >
	<select id="login" resultType="int" parameterType="HashMap">
	SELECT
		COUNT(*)
		FROM
			USERTABLE
			WHERE
				USER_ID = #{USER_ID}
			AND
				USER_PW = #{USER_PW}
	</select>
	<select id="selectOBJNAME" resultType="HashMap" parameterType="HashMap">
	SELECT distinct
	*
	FROM
    MAPPINGTABLE
		WHERE
			GROUPID in(
            	SELECT
    				GROUPID
        		FROM
					USERTABLE
				WHERE
					USER_ID = #{USER_ID}
				AND
					USER_PW = #{USER_PW}
                )
                  start with HIGH_OBJ ='TOP' 
    connect by prior OBJID = HIGH_OBJ
    
                ORDER BY DEPT ASC
	</select>
</mapper>