<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.web.freeBoard.mapper.FreeBoardMapper">
	<select id="getCount" resultType="int" parameterType="HashMap">
		SELECT COUNT(*) 
		  FROM FREEBOARD
		 WHERE 1 = 1
		<if test="searchType == 'dcode001' ">
		   AND TITLE LIKE '%' || #{searchWord} || '%'
		</if>
		<if test = "searchType == 'dcode002'">
		   AND NUM = #{searchWord}
		</if> 
		<if test = "firstDate != null and firstDate != ''">
   			AND TO_CHAR(REGDATE, 'YYYYMMDD') BETWEEN #{firstDate} AND #{secondDate}
		</if>
		
	</select>
	
	<select id="freeBoardGetList" resultType="HashMap" parameterType="HashMap"> <!-- resultType="kr.web.board.dto.BoardDto" -->
		SELECT A.*
			FROM
			(
			SELECT ROW_NUMBER() OVER(ORDER BY NUM DESC) AS RNUM
			     , NUM
			     , TITLE
			     , NAME
			     , TO_CHAR(REGDATE, 'YYYY/MM/DD') AS REGDATE
			     , CONTENT
			  FROM FREEBOARD
			 WHERE 1 = 1
 			<if test="searchType == 'dcode001' ">
			AND TITLE LIKE '%' || #{searchWord} || '%'
			</if>
			<if test = "searchType == 'dcode002'">
			AND NUM = #{searchWord}
			</if> 
			<!-- firstDate != '' and secondDate != ''     //  firstDate != null and secondDate != null-->
			<if test = "firstDate != null and firstDate != ''">
   			AND TO_CHAR(REGDATE, 'YYYYMMDD') BETWEEN #{firstDate} AND #{secondDate}
			</if>
			ORDER BY LPAD( NUM, 5 ) DESC
			) A
			WHERE A.RNUM BETWEEN #{begin} AND #{end}
			
		
	</select>
	
	
	<insert id="freeBoardInsertPro" parameterType="HashMap">
		INSERT INTO FREEBOARD(NUM, TITLE, NAME, REGDATE, CONTENT)
		VALUES(FREEBOARDNUM_SEQ.NEXTVAL, #{title}, #{name}, SYSDATE, #{content})
	</insert>
	
	<select id="freeBoardDetailByNum" resultType="freeBoardDto" parameterType="int">
		SELECT NUM, TITLE, NAME, TO_CHAR(REGDATE,'YYYY/MM/DD') REGDATE, CONTENT 
			FROM FREEBOARD
		WHERE NUM=#{num}
	</select>
	
	<select id="freeBoardNewNum" resultType="int">
		SELECT MAX(NUM)
		FROM FREEBOARD
	</select>
	
	<update id="freeBoardModify" parameterType="HashMap">
		UPDATE FREEBOARD
			SET 	
				TITLE = #{title}
			, 	CONTENT = #{content}
		WHERE NUM = #{num}
		
	</update>
	
	<update id="freeBoardDelete" parameterType="HashMap">
		DELETE FROM FREEBOARD
		WHERE NUM = #{num}
		
	</update>
	<select id="freeBoardfunction" statementType="CALLABLE" parameterType="hashmap"  resultType="hashmap">
 {call PROCEDURE1(        
          #{num},
          #{title},
          #{name},
          #{content},
          #{result, mode=OUT, jdbcType=NUMERIC}
       )
} 
</select>     	
</mapper>